/* CV de Hedi TURKI SANEKLI */

#hedi-turki-sanekli td { border : solid 2px; }

#hedi-turki-sanekli h1 { font-style: italic; }

#hedi-turki-sanekli h2 { 
    color : blue; 
    text-align: center;
}


#hedi-turki-sanekli header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 25px;
    margin-right: 50px;
    margin-left: 50px;
    height: 250px;
    text-align: center;
}

#hedi-turki-sanekli body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 50px;
    margin-right: 50px;
}

#hedi-turki-sanekli footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 50px;
    background-color: rgba(0,128,0,calc(1/3));
}


#hedi-turki-sanekli table {
    text-align: center;
    margin-left: 550px;
}



/* CV de Alexis YVON */

#alexis-yvon body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

#alexis-yvon header,
#alexis-yvon footer {
    background-color: lightgrey;
    padding: 10px;
    box-sizing: border-box;
}

#alexis-yvon header {
    display: flex;
    align-items: center;
    justify-content: start;
}

#alexis-yvon header > * {
    flex: 0 1 auto;
    margin-left: 25px;
}

#alexis-yvon header > div > img {
    border-radius: 125px;
    max-width: 125px;
    height: auto;
}

#alexis-yvon header > h2 {
    color: dimgrey;
    font-style: italic;
}

#alexis-yvon main {
    display: flex;
}

#alexis-yvon main > section {
    flex: auto;
    width: 50%;
    padding: 50px;
    box-sizing: border-box;
}

#alexis-yvon main > #parcours {
    background-color: rgba(128,0,0,calc(1/3));
}

#alexis-yvon main > #competences {
    background-color: rgba(0,0,128,calc(1/3));
}

#alexis-yvon main > #parcours > h3 {
    color: rgb(128,0,0);
}

#alexis-yvon main > #competences > h3 {
    color: rgb(0,0,128);
}

#alexis-yvon main > section > hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, calc(2/3)), rgba(0, 0, 0, 0));
}

#alexis-yvon main > #parcours > hr {
    background-image: linear-gradient(to right, rgba(128, 0, 0, calc(2/3)), rgba(128, 0, 0, 0));
}

#alexis-yvon main > #competences > hr {
    background-image: linear-gradient(to right, rgba(0, 0, 128, calc(2/3)), rgba(0, 0, 128, 0));
}

#alexis-yvon main > section > table tr > td {
    box-sizing: border-box;
    padding: 10px;
}

#alexis-yvon main > section > table tr > td:first-child {
    text-align: center;
}

#alexis-yvon main > section > table tr > td:first-child + td > h4,
#alexis-yvon main > section > table tr > td:first-child + td > em,
#alexis-yvon main > section > table tr > td:first-child + td > p {
    margin: 0.2em 0;
}

#alexis-yvon main > section > div > ul > li {
    list-style-type: square;
}

#alexis-yvon main > section > div > ul > li::marker {
    color: rgb(0,0,128);
}

#alexis-yvon footer {
    background-color: rgba(0,128,0,calc(1/3));
}

#alexis-yvon footer > p {
    margin-left: 25px;
}
