span.badge-homme {
    color: white;
    background-color: dodgerblue;
}

span.badge-femme {
    color: white;
    background-color: violet;
}

span.badge-neutre {
    color: white;
    background-color: gray;
}